.DS_Store
node_modules/
bower_components/
npm-debug.log
/demo
build/milestone.json
examples/webpack/
.idea
dist/components-commonjs/
/site
docs/zh-CN/*
docs/en/*
!docs/**/README.md
!docs/**/livingearth.md
!docs/**/pro.md
!docs/**/umd.md
!docs/**/vux-loader.md
!docs/**/upgrade-to-2.md
/docs/demos
/docs/changes
*.vue.vux.*
src/locales/components.yml
/dist/**/*
src/components/index.js
test/unit/coverage/
docs/*.map
v2/
changes.json
nuxt/
docs/releases.json