.DS_Store
node_modules/
bower_components/
npm-debug.log
/demo
build/milestone.json
examples/webpack/
.idea
dist/components-commonjs/
/site
docs/zh-CN/*
!docs/zh-CN/README.md
!docs/zh-CN/livingearth.md
!docs/zh-CN/pro.md
!docs/zh-CN/umd.md
!docs/zh-CN/vux-loader.md
!docs/zh-CN/upgrade-to-2.md
/docs/demos
*.vue.vux.*
src/locales/components.yml
/dist/**/*
src/components/index.js
test/unit/coverage/
docs/*.map
v2/
changes.json