.DS_Store
node_modules/
bower_components/
npm-debug.log
/demo
build/milestone.json
examples/webpack/
.idea
dist/components-commonjs/
/site
/docs/changes
/docs/demos
/docs/**/faq/index.md
/docs/**/components
/docs/**/demos
/docs/**/changelog
/docs/.ream/
*.vue.vux.*
src/locales/components.yml
/dist/**/*
src/components/index.js
test/unit/coverage/
docs/*.map
v2/
changes.json
.nuxt/
docs/releases.json
docs/src/routes.json
docs/src/faq-routes.json
docs/src/tool-routes.json
docs/src/_index.js
docs/sitemap.txt
docs/algolia.json
/src/demos/**/_index.vue
yarn-error.log
