@color-wechat-green: #04BE02;

@theme-color: #04BE02;
@opacity-disabled: 0.5;

/**
* Range
*/

@range-opacity-disabled: @opacity-disabled;
@range-color-bar-default: #a9acb1;
@range-color-bar-active: @theme-color;


