.doc-content-document {
  position: relative;
  background: #fff;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 480px;
}
.doc-content-document .card {
  margin-bottom: 24px;
  padding: 24px;
  background-color: #fff;
  border-radius: var(--nutui-doc-border-radius);
  box-shadow: 0 8px 12px #ebedf0;
}
.doc-content-document a {
  margin: 0 1px;
  color: var(--nutui-doc-blue);
  -webkit-font-smoothing: auto;
}
.doc-content-document a:hover {
  color: color-mix(in srgb, var(--nutui-doc-blue) 90%, black);
}
.doc-content-document a:active {
  color: color-mix(in srgb, var(--nutui-doc-blue) 80%, black);
}
.doc-content-document h1,
.doc-content-document h2,
.doc-content-document h3,
.doc-content-document h4,
.doc-content-document h5,
.doc-content-document h6 {
  color: var(--nutui-doc-black);
  font-weight: bold;
  line-height: 1.5;
}
.doc-content-document h1[id],
.doc-content-document h2[id],
.doc-content-document h3[id],
.doc-content-document h4[id],
.doc-content-document h5[id],
.doc-content-document h6[id] {
  cursor: pointer;
}
.doc-content-document h1 {
  margin: 0 0 30px;
  font-size: 30px;
  cursor: #1a1a1a;
  font-weight: bold;
  position: relative;
  margin-bottom: 56px;
}
.doc-content-document h1:after {
  content: '';
  position: absolute;
  bottom: -26px;
  left: 16px;
  width: 44px;
  height: 17px;
  background: url('https://img10.360buyimg.com/imagetools/jfs/t1/136135/19/14659/946/5fa20aa8E33a9aa26/d329fbe669171208.png');
  background-size: 100% 100%;
}
.doc-content-document h2 {
  margin: 45px 0 20px;
  font-size: 24px;
}
.doc-content-document h3 {
  margin: 16px 0px;
  font-weight: 600;
  font-size: 20px;
}
.doc-content-document h4 {
  margin: 24px 0 12px;
  font-weight: 600;
  font-size: 16px;
}
.doc-content-document h5 {
  margin: 24px 0 12px;
  font-weight: 600;
  font-size: 15px;
}
.doc-content-document p {
  color: var(--nutui-doc-text-color);
  font-size: 14px;
  line-height: 22px;
}
.doc-content-document strong {
  margin: 24px 0 12px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}
.doc-content-document table {
  width: 100%;
  margin-top: 12px;
  color: var(--nutui-doc-text-color);
  font-size: 14px;
  line-height: 1.5;
  border-collapse: collapse;
  border: 1px solid #eee;
}
.doc-content-document table th {
  padding: 8px 20px;
  font-weight: 600;
  text-align: left;
  border-left: 1px solid #e9e9e9;
  background-color: var(--nutui-doc-background-color);
}
.doc-content-document table th:last-child {
  padding-right: 0;
}
.doc-content-document table td {
  padding: 8px 20px;
  border-top: 1px solid var(--nutui-doc-code-background-color);
  border-left: 1px solid #e9e9e9;
}
.doc-content-document table td:first-child {
  border-left: 0px;
}
.doc-content-document table td:first-child code {
  margin: 0;
  padding: 2px 6px;
  color: var(--nutui-doc-blue);
  font-weight: 600;
  font-size: 11px;
  background-color: color-mix(in srgb, var(--nutui-doc-blue) 10%, transparent);
  border-radius: 20px;
}
.doc-content-document table td:last-child {
  padding-right: 0;
}
.doc-content-document table em {
  color: var(--nutui-doc-green);
  font-size: 14px;
  font-family: var(--nutui-doc-code-font-family);
  font-style: normal;
  -webkit-font-smoothing: auto;
}
.doc-content-document ul li,
.doc-content-document ol li {
  position: relative;
  margin: 5px 0 5px 10px;
  padding-left: 15px;
  color: var(--nutui-doc-text-color);
  font-size: 15px;
  line-height: 26px;
}
.doc-content-document ul li::before,
.doc-content-document ol li::before {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  margin-top: 10px;
  border: 1px solid var(--nutui-doc-dark-grey);
  border-radius: 50%;
  content: '';
}
.doc-content-document hr {
  margin: 30px 0;
  border: 0 none;
  border-top: 1px solid #eee;
}
.doc-content-document p > code,
.doc-content-document li > code,
.doc-content-document table code {
  display: inline;
  margin: 0 2px;
  padding: 2px 5px;
  font-size: 14px;
  font-family: inherit;
  word-break: keep-all;
  background-color: var(--nutui-doc-background-color);
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
}
.doc-content-document p > code {
  font-size: 14px;
}
.doc-content-document section {
  padding: 24px;
  overflow: hidden;
}
.doc-content-document blockquote {
  margin: 16px 0px;
  padding: 16px;
  background-color: #fff4f0;
  border-left: 6px solid #fa192c;
}
.doc-content-document blockquote p {
  color: #1a1a1a;
}
.doc-content-document--changelog strong,
.doc-content-document--changelog-v3 strong {
  display: block;
  margin: 24px 0 12px;
  font-weight: 600;
  font-size: 15px;
}
.doc-content-document--changelog h3 + p code,
.doc-content-document--changelog-v3 h3 + p code {
  margin: 0;
}
.doc-content-document--changelog h3 a,
.doc-content-document--changelog-v3 h3 a {
  color: inherit;
  font-size: 20px;
}
.doc-content-document .handle-part {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.doc-content-document .handle-part .online-btn {
  display: block;
  color: #5555e2;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.doc-content-document .handle-part .online-btn:hover {
  color: blue;
  text-decoration: underline;
}
