.vux-reddot,.vux-reddot-border,.vux-reddot-s {
  position: relative;
}

.vux-reddot:after,.vux-reddot-border:after,.vux-reddot-s:after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #f74c31;
  border-radius: 5px;
  right: -3px;
  top: -3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.vux-reddot-static {
  display: block;
  width: 8px;
  height: 8px;
  padding: 0
}

.vux-reddot-static:after {
  top: 0;
  right: 0
}

.vux-reddot-border:before {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 5px;
  right: -4px;
  top: -4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1px
}

.vux-reddot-s:after {
  width: 6px;
  height: 6px;
  top: -5px;
  right: -5px
}