@font-face {
  font-family: 'vux-demo';
  src: url('//at.alicdn.com/t/font_1463332896_408666.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1463332896_408666.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1463332896_408666.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1463332896_408666.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1463332896_408666.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.demo-icon {
  font-family: 'vux-demo';
  font-size:20px;
  padding-right: 10px;
  color: #04BE02;
}

.demo-icon:before {
  content: attr(icon);
}
